body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
dl,
dt,
dd,
ul,
li,
ol,
li,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
  color: #424242;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5tahoma, arial, \5b8b\4f53;
}
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
select,
textarea {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
ul,
ol {
  list-style: none;
}
a {
  color: #424242;
  text-decoration: none;
}
html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
